{% extends 'base.html' %}
{%load static%}

{%block title%}о нас{%endblock%}

{%block content%}
<div>
  <p>Адрес
Красная ул., 31, Кропоткин<br>
<br>
Контакты<br>
+7 (86138) 6-64-00<br>

</div>

<div><iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1664.763503583708!2d40.57647747443691!3d45.4337883445374!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0YLQtdGF0L3QvtC80LDRgNC60LXRgiDQutGA0L7Qv9C-0YLQutC40L0!5e0!3m2!1sru!2sru!4v1682970781987!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
{%endblock%}