{% extends 'base.html' %}
{%load static%}

{%block title%}Каталог{%endblock%}

{%block aside%}
{%if perms.unit %}
<div class="qu">
    {%if Questions%}
        <p style="color:red">нужно ответить на {{Questions}} вопросов</p>
        <a class="btn btn_a" href="{%url 'techMarket:AdminQuestion' %}">ответить на вопросы</a>
    {%else%}
        <p class="q_stat" style="color:green">вопросов нет</p>
    {%endif%}
</div>
{%endif%}

{%if group%}
{%for g in group%}
<div>
    <ul class="catalog">
        <li><a><h1>{{g.gr}}</h1></a></li>
        {%for c in g.category_set.all%}
        <ul>
        <li><a  class="btn btn_a" href="{%url 'techMarket:showCategory' c.id %}">{{c.cat}}</a></li>
        </ul>
        {%endfor%}
    </ul>
</div>
{%endfor%}
{%endif%}
{%endblock%}


{%block content%}

<form  action="{%url 'techMarket:index'%}" method="GET">
    <input class="search" type="search", name="q", placeholder="поиск">
</form>

<div class="wall">
{%for u in page_obj%}
<div class="unit">
    <div class="ph"><img class='ph' src="{{u.photo.url}}"></div>
    <div class="about">
        <div class="title">
        <h1>{{u.title}}</h1>
        </div>

        <div class="price">
        <h2>{{u.price}}₽</h2>
        </div>

        <div class="AB">
            <p>{{u.about |truncatewords:30}}</p>
        </div>

        <div class="u_btn">
        <a class="btn btn_a" href="{%url 'techMarket:ShowUnit' u.id%}">Смотреть</a>

        {% if perms.unit%}
        | <a class="btn btn_a" href="{%url 'techMarket:delUnit' u.id%}">Удалить</a>
        <a class="upd_b" class="btn btn_a" href="{%url 'techMarket:updUnit' u.id %}"><img class="upd_b" src="{%static 'techMarket/img/upd.png'%}"></a>
        {%endif%}
        </div>
    </div>
</div>
{%endfor%}
</div>

{%endblock%}