{% extends 'base.html' %}
{%load static%}

{%block title%}Каталог{%endblock%}

{%block aside%}
{%if group%}
{%for g in group%}
<div>
    <ul class="catalog">
        <li><a><h1>{{g.gr}}</h1></a></li>
        {%for c in g.category_set.all%}
        <ul>
        <li><a href="{%url 'techMarket:showCategory' c.id %}"><h2>{{c.cat}}</h2></a></li>
        </ul>
        {%endfor%}

    </ul>

</div>
{%endfor%}
{%endif%}
{%endblock%}


{%block content%}

<div>
  <div><h1>{{unit.title}}</h1></div>
  <div><img src="{{unit.photo.url}}"></div>
  <div>
    <h2>{{unit.price}}</h2>
    <p>{{unit.about}}</p>
    <p>{{unit.characters}}</p>
  </div>
</div>

<hr />
{%if message%}
<p style="color:red;">{{message}}</p>
{%endif%}
<form action="{%url 'techMarket:getQuestion' unit.pk%}", method="POST">
    {% csrf_token %}
    <h1>Задать вопрос для товара {{unit.title}}</h1>
    <textarea name='questions' class='question'></textarea>
    <br>
    <button type="submit">задать вопрос</button>
</form>
{%endblock%}